In [2]:
#input command to take input from the use
name=input("what's your name?")
age =input("enter your age")#would be entered as string
print(name+" you are "+age+" years old")

what's your name? Richa
enter your age 27

Richa you are 27 years old

In [6]:
# WAP to enter a number and display its hexa octal and square root
import math
no = int(input("Enter a number"))
print("Hexadecimal of the number ",no," is:",hex(no))
print("Octal value of the number ",no," is:",oct(no))
print("Square Root of the number ",no," is:",math.sqrt(no))

Enter a number 16

Hexadecimal of the number  16  is: 0x10
Octal value of the number  16  is: 0o20
Square Root of the number  16  is: 4.0

In [11]:
# calculate area of triangle using herons formulae
import math
a=int(input("Enter first side of triangle"))
b=int(input("enter second side of triangle"))
c=int(input("enter third sidd of triangle"))
s=(a+b+c)/2
area = math.sqrt((s*(s-a)*(s-b)*(s-c)))
print("Area of triangle is: ",area)

Enter first side of triangle 3
enter second side of triangle 4
enter third sidd of triangle 5

Area of triangle is:  6.0

In [13]:
#method 2 to solve the ques
import math
sides =[]
for i in range(3):
    a = int(input("enter side"))
    sides.append(a)
s1=0
for j in sides:
    s1=s1+j
s=s1/2
area = math.sqrt(s*(s-sides[0])*(s-sides[1])*(s-sides[2]))
print("ares is ",area)

enter side 3
enter side 4
enter side 5

ares is  6.0

In [16]:
#wap to calculate distance between 2 co ordinate points
import math
x1= int(input("enter x cordinate of point 1"))
x2 =int(input("enter x cordinate of point 2"))
y1 = int(input("enter y cordinate of point 1"))
y2 =int(input("enter y cordinate if point 2"))
dist = math.sqrt((((x2-x1)**2)+((y2-y1)**2)))
print(f"distance between ({x1},{y1}) and ({x2},{y2}) is: {dist}")

enter x cordinate of point 1 2
enter x cordinate of point 2 2
enter y cordinate of point 1 4
enter y cordinate if point 2 4

distance between (2,4) and (2,4) is: 0.0

In [18]:
# add sub mul adn divide two floating points
a=float(input("enter floating no 1"))
b=float(input("enter floating no 2"))
print(f"Addition of numbers {a} and {b} is:" ,(a+b))
print(f"Substraction of numbers {a} and {b} is:",(a-b))
print(f"Multiplication of numbers {a} and {b} is:" ,(a*b))
print(f"Division of numbers {a} and {b} is; ",(a/b))

enter floating no 1 16
enter floating no 2 4

Addition of numbers 16.0 and 4.0 is: 20.0
Substraction of numbers 16.0 and 4.0 is: 12.0
Multiplication of numbers 16.0 and 4.0 is: 64.0
Division of numbers 16.0 and 4.0 is;  4.0

qnt=int(input("Enter quantity sold"))
price= int(input("Enter price per commodity"))
dis= float(input("Enter discount percentage"))
tax=float(input("enter tax percentage to be paid"))
amt = qnt*price
total_dis = (dis/100)*amt
tax_tot = (tax/100)*amt
total_amt = amt+tax_tot-total_dis
print("*"*10+"BILL"+"*"*10)
print("Quantity Sold:",format(qnt,'>9'))
print("Amount:",format(amt,'>17'))
print("Discount:",format(dis,'>16'),"%")
print("Total Discount:",format(total_dis,'>11'))
print("Tax:",format(tax_tot,'>22'))
print("Total amount to be paid: ",total_amt)

In [54]:
# wap to calculate student result based on 2 exams , 1 sport and  3 activities
#weigtage pf each acivity is 30% and of sports event 20% and exam 50%
m1 = int(input("enter marks of sub 1 out of 100"))
m2 = int(input("enter marks of sub 2 out of 100"))
s1 =int(input("enter score of sports event out of 100"))
act =[]
for i in range(0,3):
    a1=int(input(f"enter score in activity {i+1}"))
    act.append(a1)
act_tot=0
for j in act:
    act_tot=act_tot+j
marks=m1+m2
total = (((marks*0.50)+(s1*0.20)+(act_tot*0.30))/300)*100
print("TOTAL marks are:",total,"%")

enter marks of sub 1 out of 100 90
enter marks of sub 2 out of 100 90
enter score of sports event out of 100 90
enter score in activity 1 90
enter score in activity 2 90
enter score in activity 3 90

TOTAL marks are: 63.0 %

In [56]:
#wap to covnert degree farenheit to celcius
far = float(input("Enter temperature in farenheit"))
cel = 5*(far-32)/5
print(f"{far} degree F in Celcuis is {cel} C")

#wap to calculate total amount of money in piggy bank given coins of rs 10,5 and 2 and 1

Enter temperature in farenheit 98.4

98.4 degree F in Celcuis is 66.4 C

In [59]:
two= int(input("Enter no of 2 rupees coin "))
five =int(input("enter no of 5 rupees coin"))
ten =int(input("enter no of 10 rupees coin"))
one =int(input("enter no of 1 rupee coin"))
tot = (2*two)+(one*1)+(five*5)+(ten*10)
print(f"Total amount in piggy bank is:{tot}")

Enter no of 2 rupees coin  3
enter no of 5 rupees coin 3
enter no of 10 rupees coin 33
enter no of 1 rupee coin 3

Total amount in piggy bank is:354